Repository frame4fun/gamebook-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update dependency lint-staged to v10.2.7
  package-lock.json
  package.json
Due: prettier --write

Update Node.js to 12.18
  .nvmrc
Due: none

Update dependency lint-staged to v10.2.8
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v10.2.9
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v10.2.10
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v10.2.11
  package-lock.json
  package.json
Due: prettier --write

refactor: login
  src/Connexion/Login/Login.js
  src/Routing/Routing.js
  src/components/PrivateRoute/PrivateRoute.jsx
Due: prettier --write, eslint

chore(deps): update node.js to 12.20
  .nvmrc
Due: none

chore(deps): update node.js to 14
  .travis.yml
Due: none

chore(deps): update dependency husky to v4.3.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.5.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update wip/action action to v1.1.0
  .github/workflows/wip.yml
Due: none

fix(deps): update dependency react-scripts to v3.4.4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update react monorepo to v16.14.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss,json,md}
  eslint: any of: *.{js,jsx}
