Repository frame4fun/gamebook-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.{js,jsx,css,scss,json,md}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,jsx}": ["eslint"]
}

update dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor
  src/App.js
  src/Connexion/Login/Login.js
  src/Connexion/Login/index.js
  src/Connexion/SignInForm/SignInForm.js
  src/Connexion/SignInForm/index.js
  src/Header/Header.js
  src/Routing/Routing.js
  src/components/PrivateRoute/PrivateRoute.jsx
  src/components/PrivateRoute/index.js
  src/services/authentification.js
  src/services/index.js
Due: prettier --write, eslint

update project
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

node 12.13
  .nvmrc
Due: none

chore: unprivate the story route
  src/Routing/Routing.js
Due: prettier --write, eslint

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

Update renovate.json
  renovate.json
Due: prettier --write

chore(deps): update dependency husky to v4.0.10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update node.js to 12.14
  .nvmrc
Due: none

chore(deps): update dependency husky to v4.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4.2.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.0.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v4.2.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v10.0.7
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency react-scripts to v3.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update node.js
  .nvmrc
  .travis.yml
Due: none

Create nodejs.yml
  .github/workflows/nodejs.yml
Due: none

Create wip.yml
  .github/workflows/wip.yml
Due: none

Update wip.yml
  .github/workflows/wip.yml
Due: none

Update nodejs.yml
  .github/workflows/nodejs.yml
Due: none

refactor: login
  src/Connexion/Login/Login.js
  src/Routing/Routing.js
  src/components/PrivateRoute/PrivateRoute.jsx
Due: prettier --write, eslint

Update dependency lint-staged to v10.0.8
  package-lock.json
  package.json
Due: prettier --write

Update react monorepo to v16.13.0
  package-lock.json
  package.json
Due: prettier --write

Update react monorepo to v16.13.1
  package-lock.json
  package.json
Due: prettier --write

Update dependency react-scripts to v3.4.1
  package-lock.json
  package.json
Due: prettier --write

Update dependency lint-staged to v10.0.9
  package-lock.json
  package.json
Due: prettier --write
